body{
    background-color: aliceblue;
    box-sizing: border-box;
}
#head{
    width: 1500px;
    height: 100px;
    margin: auto;
    /* margin-top: px; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    background-color: white;
    /* border: solid black; */
}
#head>a>img{
    height: 100px;
    margin-left: 100px;
}
#Product{
    /* height: 100px; */
    /* border: solid black; */
    width: 100%;
    border-radius: 5px;
    background-color: white;
    margin-top: 50px;
    padding-top: 1px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
#Product>h1{
    font-family: sans-serif;
    margin-left: 10px;
}
.items{
    display: flex;
    /* padding-left: 30px; */
    justify-content: center;
    justify-content: space-around;
    padding-bottom: 15px;
}
.items>img{
    width: 15%;
    margin-top: 25px;
}
.items>p{
    margin-top: 50px;
    text-align: left;
}
.items>div>button{
    width: 50px;
    margin-right: 20px;
}
.items>div>span{
    margin-right: 20px;
}