body{
    background-color: aliceblue;
    box-sizing: border-box;
}
#head{
    width: 100%;
    height: 100px;
    margin: auto;
    /* margin-top: px; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    background-color: white;
    /* border: solid black; */
}
#head>a>img{
    height: 100px;
    margin-left: 100px;
}
#Product{
    /* height: 100px; */
    /* border: solid black; */
    width: 100%;
    border-radius: 5px;
    background-color: white;
    margin-top: 50px;
    padding-top: 1px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
#Product>h1{
    font-family: sans-serif;
    margin-left: 10px;
}
.items{
    display: flex;
    /* padding-left: 30px; */
    justify-content: center;
    justify-content: space-around;
    padding-bottom: 15px;
}
.items>img{
    width: 10%;
    margin-top: 25px;
}
.items>p{
    margin-top: 50px;
    text-align: left;
    font-family: sans-serif;
}
.items>div{
    text-align: center;
}
.items>div>h2{
    padding-right: 30px;
    font-family: sans-serif;
}
.items>div>p{
    font-family: sans-serif;
    cursor: pointer;
}
.items>div>button{
    width: 50px;
    margin-right: 20px;
    border-radius: 8px;
    background-color: cadetblue;
    color: aliceblue;
    cursor: pointer;
}
.items>div>span{
    font-family: sans-serif;
    margin-right: 20px;
}
#total{
    width: 100%;
    /* border: solid black; */
    display:flex ;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
    background-color: white;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
    
}

#total>h2{
    font-family: sans-serif;
}
#total>button{
    width: 25%;
    height: 55px;
    background-color: orangered;
    border-radius: 8px;
    color: aliceblue;
    font-size: 20px;
    margin-bottom: 10px;
    cursor: pointer;
}
