body{
    background-image: url(/background.jpg);
    opacity: 0.9
}
#container{
    margin: auto;
    margin-top: 80px;
    width: 850px;
    height: 580px;
    /* border: solid black; */
    display: flex;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    background-color: aliceblue;
}
#container> img{
    height: 578px;
}
.form{
    /* border: solid black; */
    width: 75%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}
h1{
    text-align: center;
    font-family: sans-serif;
    border-bottom: 1px solid silver;
}
form{
    margin-top: 50px;
    padding-left: 70px;
} 
#email {
    width: 80%;
    padding-left: 8px;
    padding-bottom: 8px;
    padding-top: 8px;
    font-size: 15px;
    border-radius: 8px;
}

#pass {
    width: 80%;
    padding-left: 8px;
    padding-bottom: 8px;
    padding-top: 8px;
    font-size: 15px;
    border-radius: 8px;
}

.forget{
    text-align: right;
    padding-right: 88px;
    margin-top: 10px;
}
#login{
    border-radius: 10px;
    font-size: larger;
    padding-top: 13px;
    padding-bottom: 10px;
    width: 82%;
    margin-top: 50px;
    border-width: thin; 
}
p {
    font-size: 20px;
    font-family: sans-serif;
    margin-bottom: 8px;
}

span {
    text-align: center;
    text-decoration: none;
    margin-left: 25%;

}